@mixin button($color) {
  padding: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #F1F3F4;
  }

  &:active, &.active {
    background-color: #E6F4EA;

    svg {
      fill: $color;
    }
  }
}

@mixin flex-align($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
