.header {
  padding: 10px 15px;

  @include flex-align(space-between, center);

  border-bottom: 1px solid $border-color;

  &__box {
    display: flex;
    align-items: center;
  }

  &__button-icon {
    @extend %button-reset;

    margin-right: 7px;

    width: 40px;
    height: 40px;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__input {
    padding: 2px 7px;

    height: 26px;

    font-size: 1.5em;
    line-height: 1.22;

    border: 1px solid transparent;
    border-radius: 3px;
    color: #000000;

    transition: border-color 0.3s ease;
    outline: none;

    &:hover {
      border-color: #E5E5E5;
    }

    &:focus {
      margin: -1px;

      border: 2px solid #1A73E8;
      border-radius: 4px;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    @extend %button-reset;
    @include button(#CC0002);

    width: 30px;
    height: 30px;
  }

  &__delete,
  &__exit-back {
    width: 24px;
    height: 27px;

    fill: #5F6368;
  }
}
